:root {
  --color-primary: #ffc107;
  --color-secondary: #554e4e;
  --color-button: #0069d9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e2e1e1;
}

/* ! Delete */
img {
  width: 265px;
  height: 96px;
}

h1 {
  width: 100vw;
  height: auto;
  text-align: center;
  padding: 20px;
}

h1 > img {
  width: 265px;
  height: 96px;
}

nav {
  width: 100%;
}

nav > div.search {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;

  margin: 20px;
  padding: 24px 0;
  height: 66px;
  background-color: var(--color-primary);
  color: black;
  border-radius: 32px;
  font-size: 1.5rem;
}
nav > div.search:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav > div.search > input {
  width: 60%;
  margin-left: 20px;
  background-color: var(--color-primary);
  border: none;
  font-size: 1.5rem;
}
nav > div.search > input::placeholder {
  color: var(--color-secondary);
}

nav > div.search > button {
  margin-left: 10px;
  margin-right: 10px;
  padding: 16px;
  background-color: var(--color-button);
  color: white;
  border: none;
  border-radius: 32px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

nav > div.search > select {
  margin-left: 20px;
  width: 60%;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: none;
  font-size: 1.5rem;
}
